.ticker-page-header{
    border-bottom:1px solid $dark_grey;
    padding-bottom:15px;
    margin-bottom:15px;

    .price {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        display:flex;
        align-items: center;

        .negative{
            font-size: 20px;
            color: $stock_red;
            margin-left: 15px;
        }

        .positive{
            font-size: 20px;
            color: $stock_green;
            margin-left: 15px;
        }
    }

    h1 {
        margin-bottom: 0;
        margin-top: 7px;
    }
}

.top-logo {
    display: flex;
    align-items: center;

    .circle-logo{
        margin-right:10px;
    }
}
    
span.ticker-badge {
    background-color: $brand-primary;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 16px;
    color: #222223;
    font-weight: 600;
}

.circle-logo {
    display: flex;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    padding: 0;
    overflow:hidden;
}

img.company-logo {
    width: 100%;
}


.tickerPage-topTable span {
    float: right;
}

//News

.news-block{

    margin-bottom:15px;

    img {
        border-radius: 5px;
    }
    *{
        vertical-align:top;
    }
    span.source-tag {
        font-size: 12px;
        font-weight: 600;
        color: $brand-secondary;
        margin-top: -5px;
        display: block;
        margin-bottom: 5px;
    }

    a.headline-link {
        color: #fff;
        text-decoration: none;
        /* border-bottom: 2px solid #e2bab1; */
        font-size: 18px;
        font-weight: 600;

        &:hover{
            transition:1s;
            color:$brand-primary;
        }
    }

    .summary p {
        color:$light_grey;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}