.ticker-page-header{
    border-bottom:1px solid $dark_grey;
    padding-bottom:15px;
    margin-bottom:30px;

    .price {
        font-size: 30px;
        font-weight: bold;
        color: $brand-primary;
        display:flex;
        align-items: center;

        .negative{
            font-size: 20px;
            color: $stock_red;
            margin-left: 15px;
        }

        .positive{
            font-size: 20px;
            color: $stock_green;
            margin-left: 15px;
        }
    }

    h1 {
        margin-bottom: 0;
        margin-top: 7px;
    }
}

.top-logo {
    display: flex;
    align-items: center;

    .circle-logo{
        margin-right:10px;
    }
}
    
span.ticker-badge {
    background-color: $brand-primary;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 16px;
    color: #222223;
    font-weight: 600;
}

.circle-logo {
    display: flex;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    padding: 0;
    overflow:hidden;
}

img.company-logo {
    width: 100%;
}


.tickerPage-topTable span {
    float: right;
}